.emby-tab-button {
    /* Base style for all buttons, including the ones in the middle */
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    background: #351f2b;
    color: #b798a7;
    transition: background 0.2s ease;
}

.emby-tab-button.emby-tab-button-active {
    /* Style for the active button, overriding the base background and color */
    background: #b5d8ff;
    color: #174c76;
}

.emby-tab-button:first-child {
    /* Style for the first button in the group */
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.emby-tab-button:last-child {
    /* Style for the last button in the group */
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
